<!-- Portfolio four mini cards -->
<!-- ============================================================== -->
<div style="display: flex">
  <div class="column">
    <mat-card style="flex: 1 1 auto">
      <mat-card-title> Net Liquidation Value </mat-card-title>
      <mat-card-subtitle class="badge"> 10,911,499 </mat-card-subtitle>
    </mat-card>
    <mat-card style="flex: 1 1 auto">
      <mat-card-title> Daily P&L </mat-card-title>
      <mat-card-subtitle class="badge" style="color: #d6321c">
        -0.1
      </mat-card-subtitle>
    </mat-card>
  </div>
  <div class="column">
    <mat-card style="flex: 1 1 auto">
      <mat-card-title> Unrealized P&L </mat-card-title>
      <mat-card-subtitle class="badge"> 272,585 </mat-card-subtitle>
    </mat-card>
    <mat-card style="flex: 1 1 auto">
      <mat-card-title> Excess Liquidity </mat-card-title>
      <mat-card-subtitle class="badge"> 10,178,188 </mat-card-subtitle>
    </mat-card>
  </div>
  <div id="donut-chart" class="column">
    <h3 class="card-title">Portfolio Allocation</h3>
    <canvas
      baseChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      [options]="legendPosition"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  </div>
</div>

<!-- Portfolio table -->
<!-- ============================================================== -->

<mat-card id="current-holding"> <h4>Current Holdings</h4></mat-card>
<div class="row"></div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="text-warning">
            <th *ngFor="let column of headers">
              {{ column }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of portfolioItem">
              <td>{{ item.id }}</td>
              <td>{{ item.ticker }}</td>
              <td>{{ item.currPrice }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.costBasis }}</td>
              <td>{{ item.avgPrice }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Performance Graph -->
<!-- ============================================================== -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-md-flex align-items-center mb-4">
          <div>
            <h4 class="card-title text-uppercase font-16">
              Portfolio Performance
            </h4>
          </div>
          <div class="ml-auto d-flex no-block align-items-center">
            <ul class="list-inline dl m-r-15 m-b-0">
              <li class="list-inline-item font-weight-normal">
                <i class="fa fa-circle" style="color: rgb(146, 22, 22)"></i>
                Portfolio Value
              </li>
              <li class="list-inline-item font-weight-normal ml-2">
                <i class="fa fa-circle" style="color: rgb(62, 71, 194)"></i>
                Benchmark Standard
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div style="height: 300px">
              <canvas
                baseChart
                height="130"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
