.mat-card-header{
    background-color:rgb(146, 22, 22) !important;
    padding:5px !important;
  }
  
   .mat-card{
    background-color:rgb(62, 71, 194) !important;
    padding:25px !important;
    color:rgb(244, 245, 253);
    margin-bottom: 10px;
    margin-right: 10px;
    
  }
  
.mat-card-title{
  font-size: 120%;

}
  .badge {
    padding: 4px;
    margin-left: 1px;
    border-radius: 1px;
    text-align:center;
    font-weight: bold;
    font-size: medium;
    border-radius: 25px;
    width:100px;
    background: white;
    color:rgb(9, 9, 9);
}

.column {
  width: 50%

}

#current-holding{
  background-color:rgb(95, 101, 184) !important;
}

#donut-chart{
  margin-bottom: 10px;
}