<form [formGroup]="tradeForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="price">Price: </label>
    <input id="price" type="number" formControlName="price" />
  </p>
  <p>
    <label for="quantity">Quantity: </label>
    <input id="quantity" type="number" formControlName="quantity" />
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
