<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-6 align-self-center">
      <h4 class="page-title font-14 text-uppercase font-medium mb-0">
        {{ pageInfo?.title }}
      </h4>
    </div>
    <div class="col-6 align-self-center d-flex justify-content-end">
      <a routerLink="/trade/nasdaq/aapl" class="btn btn-danger">Trade</a>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
