<div class="row">
  <div
    class="tradingview-widget-container"
    style="margin-left: auto; margin-right: auto"
  >
    <div #marketData></div>
    <div class="tradingview-widget-copyright">
      <a
        href="https://www.tradingview.com/markets/stocks-usa/"
        rel="noopener"
        target="_blank"
        ><span class="blue-text">Stock Quotes</span></a
      >
      by TradingView
    </div>
  </div>

  <div
    class="tradingview-widget-container"
    style="margin-left: auto; margin-right: auto"
  >
    <div #overview></div>
    <div class="tradingview-widget-copyright">
      <a
        href="https://www.tradingview.com/markets/"
        rel="noopener"
        target="_blank"
        ><span class="blue-text">Financial Markets</span></a
      >
      by TradingView
    </div>
  </div>
</div>
