<div class="row">
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container col-8">
    <div id="tradingview_bac65"></div>
    <div class="tradingview-widget-copyright">
      <a
        href="https://www.tradingview.com/symbols/{{
          tradeDetails.tradeExchange
        }}-{{ tradeDetails.ticker }}/"
        rel="noopener"
        target="_blank"
        ><span class="blue-text">{{ tradeDetails.ticker }} Chart</span></a
      >
      by TradingView
    </div>
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>
    <script type="text/javascript"></script>
  </div>
  <!-- TradingView Widget END -->

  <div
    class="col-3"
    float="right"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Current holdings of {{ tradeDetails.ticker }}
        </h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <b> Position: </b>
              {{
                currHoldings.quantity
              }}
            </tr>
            <tr>
              <b>Average Price (USD):</b>
              {{
                currHoldings.avgPrice
              }}
            </tr>
            <tr>
              <b>Cost Basis (USD):</b>
              {{
                currHoldings.costBasis
              }}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="tradeForm" (ngSubmit)="onSubmit()">
          <p>
            <label ngbButtonLabel class="btn-primary">
              <input
                type="radio"
                value="BUY"
                formControlName="tradeType"
                required
              />
              Buy
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input
                type="radio"
                value="SELL"
                formControlName="tradeType"
                required
              />
              Sell
            </label>
          </p>
          <div class="form-group form-row">
            <label for="quantity" class="col-sm-3 col-form-label"
              ><b>Quantity:</b>
            </label>
            <input
              id="quantity"
              type="number"
              formControlName="quantity"
              class="form-control col-sm-8"
              [ngClass]="{
                'is-invalid': submitted && tradeForm.controls.quantity.errors
              }"
            />

            <div
              *ngIf="submitted && tradeForm.controls.quantity.errors"
              class="invalid-feedback"
            >
              <div *ngIf="tradeForm.controls.quantity.errors.required">
                Quantity is required.
              </div>
              <div *ngIf="tradeForm.controls.quantity.errors.min">
                Quantity must be greater than 1.
              </div>
            </div>
          </div>
          <div class="form-group form-row">
            <label for="price" class="col-sm-3 col-form-label"
              ><b>Price (USD):</b>
            </label>
            <input
              id="price"
              type="number"
              formControlName="price"
              class="form-control col-sm-8"
              [ngClass]="{
                'is-invalid': submitted && tradeForm.controls.price.errors
              }"
            />

            <div
              *ngIf="submitted && tradeForm.controls.price.errors"
              class="invalid-feedback"
            >
              <div *ngIf="tradeForm.controls.price.errors.required">
                Price is required.
              </div>
              <div *ngIf="tradeForm.controls.price.errors.min">
                Price must be greater than 1.
              </div>
            </div>
          </div>
          <p>
            <label></label>
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Row end -->
<div class="row">
  <div class="card col-7" style="margin-left: auto; margin-right: auto">
    <div class="card-body">
      <h4 class="card-title">Past Trades for {{ tradeDetails.ticker }}</h4>
      <table class="table table-hover">
        <thead class="text-warning">
          <th *ngFor="let column of headers">
            {{ column }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of tickerHistory">
            <td>{{ item.id }}</td>
            <td>{{ item.created }}</td>
            <td>
              <span style="color: #109d3f"> {{ item.tradeState }} </span>
            </td>
            <td>
              <span *ngIf="item.tradeType == 'BUY'" style="color: #317cee">
                {{ item.tradeType }}
              </span>
              <span *ngIf="item.tradeType == 'SELL'" style="color: #f03a22">
                {{ item.tradeType }}
              </span>
            </td>
            <td>{{ item.tradeExchange }}</td>
            <td>{{ item.ticker }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="tradingview-widget-container"
    style="margin-left: auto; margin-right: auto"
  >
    <div #profile></div>
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
      <a
        href="https://www.tradingview.com/symbols/{{
          tradeDetails.tradeExchange
        }}-{{ tradeDetails.ticker }}/"
        rel="noopener"
        target="_blank"
        ><span class="blue-text">{{ tradeDetails.ticker }} Profile</span></a
      >
      by TradingView
    </div>
  </div>
</div>

<div
  *ngIf="tradeDetails.ticker == 'AAPL'"
  class="tradingview-widget-container col-3"
  style="margin-left: auto; margin-right: auto"
>
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
    <a
      href="https://www.tradingview.com/symbols/{{
        tradeDetails.tradeExchange
      }}-{{ tradeDetails.ticker }}/technicals/"
      rel="noopener"
      target="_blank"
      ><span class="blue-text"
        >Technical Analysis for {{ tradeDetails.ticker }}</span
      ></a
    >
    by TradingView
  </div>
  <div #technicalAnalysis></div>
</div>
