<div class="row">
  <div class="tradingview-widget-container col-12" style="margin-bottom: 50px">
    <div #tickerTape></div>
    <div class="tradingview-widget-copyright">
      <a href="https://www.tradingview.com" rel="noopener" target="_blank"
        ><span class="blue-text">Ticker Tape</span></a
      >
      by TradingView
    </div>
  </div>
</div>
