<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Trades</h4>
        <!-- <h6 class="card-subtitle">Use a classes <code>btn btn-block btn-success</code> to quickly create a General btn.</h6> -->
        <table class="table table-hover">
          <thead class="text-warning">
            <th *ngFor="let column of headers">
              {{ column }}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of sortedHistory()">
              <td>{{ item.id }}</td>
              <td>{{ item.created | date: "short" }}</td>
              <td>
                <span
                  *ngIf="item.tradeState == 'CREATED'"
                  style="color: #10609d"
                >
                  {{ item.tradeState }}
                </span>
                <span
                  *ngIf="item.tradeState == 'PROCESSING'"
                  style="color: #d7ca3a"
                >
                  {{ item.tradeState }}
                </span>
                <span
                  *ngIf="item.tradeState == 'FILLED'"
                  style="color: #109d3f"
                >
                  {{ item.tradeState }}
                </span>
                <span
                  *ngIf="item.tradeState == 'REJECTED'"
                  style="color: #f03a22"
                >
                  {{ item.tradeState }}
                </span>
              </td>
              <td>
                <span *ngIf="item.tradeType == 'BUY'" style="color: #317cee">
                  {{ item.tradeType }}
                </span>
                <span *ngIf="item.tradeType == 'SELL'" style="color: #f03a22">
                  {{ item.tradeType }}
                </span>
              </td>
              <td>{{ item.tradeExchange }}</td>
              <td>{{ item.ticker }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
