<div class="row">
  <div
    class="tradingview-widget-container"
    style="margin-left: auto; margin-right: auto"
  >
    <div #crypto></div>
    <div class="tradingview-widget-copyright">
      <a
        href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/"
        rel="noopener"
        target="_blank"
        ><span class="blue-text">Cryptocurrency Markets</span></a
      >
      by TradingView
    </div>
  </div>
  <div
    class="tradingview-widget-container"
    style="margin-left: auto; margin-right: auto"
  >
    <div #marketNews></div>
    <div class="tradingview-widget-copyright">
      <a href="https://www.tradingview.com" rel="noopener" target="_blank"
        ><span class="blue-text"> History</span></a
      >
      by TradingView
    </div>
  </div>
</div>
