<app-ticker-tape></app-ticker-tape>

<!-- ============================================================== -->
<!-- Market Watch charts -->
<!-- ============================================================== -->
<app-market-watch></app-market-watch>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-market-news></app-market-news>
<!-- ============================================================== -->
<!-- Table -->
